@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.left_navi {
	background-color: #9E1616;
	width: 190px;
	height: 500px;
	float: left;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 5px;
	border:2px solid #e1e1e1;
	border-radius:25px;
	color: #F2F2F2;
}

div.wrapper{
	position:absolute;
    top:40;
    padding-left:1%;
    padding-right:1%;
    margin-left:0;
    margin-right:0;
	width:1200px;
}

table.login{
	margin-bottom:10px;
}

div.content {
	float:left;
	width:70%;
	position: relative;
}

div.comment{
	background-color: #F2F2F2;
	border-radius:10px;
	margin: 5px 5px;
	padding: 10px 10px;
	width: 800px;
}

div#home_info{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 40px;
}

div#login{
	float: left;
	margin-left:20px;
	margin-top: 20px;
}

.left_navi a{
	color: #F2F2F2;
}

.member_info {
	width: 180px;
	border-spacing: 0px;
}


body {
	font-family: 'Nanum Gothic';
	font-size: 12px;
	line-height: 20px;
}

hr{
	background-color:#F2F2F2;
	color:#F2F2F2;
	height:2px;
	border: none;
}

a {
	color: #1C1C1C;
}

#progress_bar {
	position:absolute; 
	TOP:100px; 
	LEFT:270px;
}

#mario {
	position:absolute; 
	TOP:55px; 
	LEFT:290px;
}

span#percent_mario{
	color:#e1e1e1; 
	font-weight: bold;
	font-size: 200%;
	position:absolute; 
	TOP:110px; 
	LEFT:700px
}


.button1{
	border : solid 0px #0f010f;
	border-radius : 2px;
	moz-border-radius : 2px;
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : #f6f7f4;
	padding : 1px 2px;
	background-color : #030003;
	padding:6px 39px;
	cursor: pointer;
}

.button1:hover{
	background-color : #585858;
}

.button2{
	border : solid 0px #0f010f;
	border-radius : 2px;
	moz-border-radius : 2px;
	-webkit-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	-moz-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : #f6f7f4;
	padding : 1px 2px;
	background-color : #030003;
	padding:6px 12px;
	cursor: pointer;
}
.button2:hover{
	background-color : #585858;
}

.label_close{
	border : solid 0px #0f010f;
	border-radius : 2px;
	moz-border-radius : 2px;
	-webkit-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	-moz-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : #f6f7f4;
	padding : 1px 2px;
	background-color : #DF0101;
	padding:6px 10px;
}

.label_open{
	border : solid 0px #0f010f;
	border-radius : 2px;
	moz-border-radius : 2px;
	-webkit-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	-moz-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : #f6f7f4;
	padding : 1px 2px;
	background-color : #31B404;
	padding:6px 10px;
}

.button3{
	border : solid 0px #0f010f;
	border-radius : 2px;
	moz-border-radius : 2px;
	-webkit-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	-moz-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : #f6f7f4;
	padding : 1px 2px;
	background-color : #DF0101;
	padding:6px 10px;
	cursor:pointer;
}

.button3:hover{
	background-color : #FA5858;
}

.button4{
	border : solid 0px #0f010f;
	border-radius : 2px;
	moz-border-radius : 2px;
	-webkit-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	-moz-box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	box-shadow : 2px 2px 4px rgba(209,207,209,1.0);
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : #f6f7f4;
	padding : 1px 2px;
	background-color : #31B404;
	padding:6px 10px;
	cursor:pointer;
}

.button4:hover{
	background-color : #3ADF00;
}

.form_table tbody th {
	background-color: #e1e1e1;
}

.list_table{
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
}
.list_table tbody th {
	background-color: #e1e1e1;
}
.list_table td {

	border: 1px solid #e1e1e1;
}

.info_table { 
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
}
.info_table tr{
	line-height: 40px;
}
.info_table th {
	width: 130px;
	height: 160px;
	background-color: #e1e1e1;
}
.info_table td {
	border: 1px solid #e1e1e1;
	padding-left:10px;
}

.button_table { 
	border-collapse: collapse;
	border:0px;
}
.button_table a {
	color: #1C1C1C;
}

.pj_table tr{
	line-height: 30px;
}

.pj_table {
	border:1px solid #B40404;
}


img.profile {
	margin: 8px 8px;
	border-radius:2px;
    border:5px solid #e1e1e1;
    background-color:#fffff;
}

/* Container */
.switch {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 105px;
  height: 30px;
  vertical-align: middle;
}
/* Background image */
.switch .background {
  background: url('../images/switch.PNG');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  height: 30px;
}
/* Mask */
.switch .mask {
  background: url('../images/switch-mask.png');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 30px;
}